<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    {% for article in article_list%}
        <article>
            <h2>{{article.title}}</h2>
            <div>{{article.author}}</div>
            <div>{{article.publish_at}}</div>
            <p>{{article.content}}</p>
        </article>
        <hr>
    {% empty %}
        <p>There's no article published yet</p>
    {% endfor %}
</body>
</html>